/ {
        firmware {
                 optee {
                        compatible = "linaro,optee-tz";
                        method = "smc";
                        status = "okay";
                 };
        };
};
